* {
    padding: 0;
    margin: 0;
}

:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
}

body {
    max-width: 1440px;
    padding: 10rem 15rem;
    font-family: 'Big Shoulders Display',
        cursive;
    color: var(--TransparentWhite);
}

h1 {
    font-size: 1.8rem;
}

p {
    font-family: 'Lexend Deca',
        sans-serif;
    font-weight: 100;
    opacity: 80%;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    line-height: 2;
}

.mainBody {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0.3rem;
    overflow: hidden;
}

.leftCard {
    background-color: var(--brightOrange);
}

.midCard {
    background-color: var(--darkCyan);
}

.rightCard {
    background-color: var(--veryDarkCyan);
}

img {
    width: 2.4rem;
    cursor: pointer;
}

.leftCard,
.midCard,
.rightCard {
    padding: 2rem 3rem 2rem 2.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.mainBody a {
    font-size: 0.7rem;
    text-decoration: none;
    border: 0.15rem solid var(--TransparentWhite);
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    font-family: 'Lexend Deca',
        sans-serif;
    align-self: flex-start;
    color: var(--TransparentWhite);
}

.mainBody a:hover {
    background-color: var(--VeryLightGray);
}

.mainBody .leftCard a:hover {
    color: var(--brightOrange);
}

.mainBody .midCard a:hover {
    color: var(--veryDarkCyan);
}

.mainBody .rightCard a:hover {
    color: var(--veryDarkCyan);
}


.attribution {
    font-size: 15px;
    margin: auto;
    text-align: center;
    color: var(--darkCyan);
    margin-top: 3rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* RESPONSIVE DESIGN 1081PX, 700PX AND 375PX */
@media(max-width:1081px) {
    body {
        padding: 5rem 5rem;
    }
}

@media(max-width:700px) {
    body {
        padding: 3rem 3rem;
    }

    .mainBody {
        grid-template-columns: 1fr;
    }
}

@media(max-width:500px) {
    body {
        padding: 1rem 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .mainBody {
        grid-template-columns: 1fr;
    }